@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
main{
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden; /* Hide scrollbars */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
  background: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgb(38, 38, 38) 100%);
}

.loadingsScreen{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: black;
  z-index: 10;  /*just make sure it's the highest on the page*/
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
::-webkit-scrollbar {
  display: none;
}
.slide1{

}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li1 {
  display: inline;
  float: right;
}
.li2{
  display: inline;
  float: left;
  margin-left: 5vw;
  font-size: 36px;
}

.lir{
  margin-right: 5vw;
}
.header a {
  display: block;
  padding: 8px;
}

.header{
  position: fixed;
  z-index: 10;
  color: #A8A8A8;
  font-size: 29px;
  width: 100vw;
  margin-top: 5vh;
}

.title{
  font-size: 88px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleCap{
  font-size: 28px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingPho Image{
  z-index: -1;
}

.landingPho{
  color: #A8A8A8;
  position: relative;
  text-align: center;

}

.homepageIMG{
  width: 100vw;
  height: 100vh;
}

.small_display{
  width: 100vw;
  height: 200vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 100%);
  color: aliceblue;
}
.small_display h2{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .5vh;
}
.smallDisTit{
  font-size: 58px;
}

.smallImg{
  border-radius: 25px;
  width: 20vw;
  height: 60vh;
}

.I01{
  margin-left: 15vw;
  padding-top: 10vh;
  display: flexbox;
}
.I01 h3{
  margin-left: 7vw;
  margin-top: 3vh;
}

.I02{
  margin-left: 60vw;
  margin-top: -30vh;
  display: flexbox;
}
.I02 h3{
  margin-left: 7vw;
  margin-top: 3vh;
}

.I03{
  margin-left: 15vw;
  margin-top: -15vh;
  display: flexbox;
}
.I03 h2{
  position:static;
}
.I03 h3{
  width: 400;
  margin-left: 17vw;
  margin-top: 3vh;
}
.smallImg2{
  border-radius: 25px;
  width: 40vw;
  height: 50vh;
}


.about_me{
  width: 100vw;
  height: 100vh;
  background: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgb(38, 38, 38) 100%);
  color: aliceblue ;
  font-size: 36px;
  padding-top: 5vh;

}

.aboutmeText{
  width: 30vw;
  margin-left: 5vw;
  font-size: 22px;
}

.abtmeIMG{
  border-radius: 25px;
  width: 15vw;
  height: 45vh;
}

.abt_me_blog{
  margin-left: 25vw;
  margin-top: 10vh;
}

.footer{
  margin-top:20vh;
}

.copyright{
  font-size: 20px;
  color: #A8A8A8;
}

.copyright p{
  float: left;
  margin-left: 5vw;
  margin-top: 1vh;
}


.socials{
  font-size: 30px;
}


.socials ul {
  list-style-type: none;
  margin-right:2.5vw;
  float: right;

}

.socials li {
  margin-right: 2vw;
  display: inline;
}

.socials a {
  padding: 8px;
}

*{
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */
}




.photoCard{
  display: flex;
}

.info{
  display: inline;
  margin-bottom: -200px;
  font-size: 24px;
}

#cards{
  display: block;
}



#title{
  display: inline;
  font-size: 32px;
}

.smallImgm{
  border-radius: 25px;
  width: 20vw;
  height: 60vh;
  margin-left: 10%;
  margin-top: 12%;
}
.descript{
  display: inline;
  margin-top: 10%;
}
#dimmer
    {
        background:#000;
        opacity:0.5;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:none;
    }

.yellow{
  color: #ffd23d;
}



.I01m{
  width: 60vw;
  height: 70vh;
  position:fixed; 
  top: 15vh; 
  left: 20%;
  background-color: #2c2c2c;
  border-radius: 25px;
}
.I01m h3{
  margin-left: 10vw;
  margin-top: 3vh;
}


.smallImgm3{
  border-radius: 25px;
  width: 30vw;
  height: 40vh;
  margin-left: 10%;
  margin-top: 20%;
}

.info2{
  display: inline;
  font-size: 24px;
  margin-top: 5vh;
}